a {
    text-decoration: none;
}

@function rem($arg) {
    @return $arg/108px * 1rem;
}

.header {
    display: flex;
    align-items: center;
    justify-content: center;
    height: rem(132px);
    border-bottom: rem(2px) solid #ccc;
    background-color: #f9f9f9;
    h1 {
        font-size: rem(52px);
        color: #555;
        font-family: '微软雅黑';
    }
}

.section {
    position: relative;
    height: rem(966px);
    background: url("../images/cartbg.png") no-repeat center center;
    a {
        position: absolute;
        bottom: rem(30px);
        left: rem(408px);
        display: block;
        width: rem(122px);
        height: rem(36px);
        padding: rem(30px) rem(62px);
        border: rem(2px) solid #ff6600;
        border-radius: 5%;
        span {
            font-size: rem(36px);
            color: #ff6600;
            font-family: '微软雅黑';
        }
    }
}

.kong1 {
    height: rem(24px);
    background-color: #f3f3f6;
}

.look {
    position: relative;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: rem(712px);
    div {
        width: rem(202px);
        img {
            width: rem(202px);
        }
        h4 {
            margin-top: rem(34px);
            font-size: rem(28px);
            color: #333;
            font-family: '微软雅黑';
            text-align: center;
        }
    }
    h3 {
        position: absolute;
        left: rem(51px);
        top: rem(66px);
        font-size: rem(38px);
        font-family: '微软雅黑';
        color: #333;
    }
}

.nav {
    position: fixed;
    bottom: 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: rem(130px);
    border-top: rem(2px) solid #ccc;
    background-color: #f8f8f8;
    div {
        h3 {
            font-size: rem(32px);
            font-family: '微软雅黑';
            color: #777;
        }
    }
    .nav-1 {
        h3 {
            margin-top: rem(2px);
        }
        i {
            font-size: rem(60px);
            color: #777;
        }
    }
    .nav-2 {
        margin-top: rem(10px);
        h3 {
            margin-top: rem(10px);
        }
        i {
            margin-left: rem(6px);
            font-size: rem(44px);
            color: #777;
        }
    }
    .nav-3 {
        h3 {}
        i {
            font-size: rem(64px);
            color: #777;
        }
    }
    .nav-4 {
        h3 {
            margin-top: rem(10px);
        }
        i {
            margin-left: rem(10px);
            font-size: rem(56px);
            color: #ff6427;
        }
    }
    .nav-5 {
        h3 {
            margin-top: rem(10px);
        }
        i {
            font-size: rem(56px);
            color: #777;
        }
    }
}
