@charset "UTF-8";
body {
  position: relative;
  width: 100%;
  height: 100%;
  background-color: #f5f5f5; }

/*上部分 start*/
.layout {
  width: 9rem;
  height: 4.02778rem;
  margin-left: 0.5rem;
  margin-right: 0.5rem; }
  .layout #regByPhone {
    width: 9rem;
    height: 4.02778rem; }
    .layout #regByPhone .title {
      font-size: 0.44444rem;
      color: #333;
      font-weight: bold;
      margin-top: 0.27778rem;
      margin-bottom: 0.27778rem; }
    .layout #regByPhone .line {
      height: 0;
      overflow: hidden;
      border-top: 1px solid #bbb;
      border-bottom: 1px solid #fff;
      margin-bottom: 0.55556rem; }
    .layout #regByPhone .input_box input {
      height: 1.11111rem;
      line-height: 0.55556rem;
      padding: 0.27778rem;
      width: 100%;
      vertical-align: middle;
      box-sizing: border-box;
      display: block;
      font-size: 0.38889rem;
      border-radius: 0.33333rem;
      color: #313131;
      border: 1px solid #a4a4a4;
      background: #fff;
      margin-bottom: 0.33333rem; }

/*上部分 end*/
/*图片验证码 start*/
.tpyz {
  width: 9rem;
  height: 1.11111rem;
  margin-left: 0.5rem;
  margin-right: 0.5rem;
  margin-bottom: 0.33333rem; }
  .tpyz .input_box {
    position: relative;
    width: 5.38889rem;
    height: 1.11111rem; }
    .tpyz .input_box input {
      /*  width: rem(582px);
                 height: rem(120px); */
      line-height: 0.55556rem;
      padding: 0.27778rem;
      width: 100%;
      box-sizing: border-box;
      font-size: 0.38889rem;
      margin-bottom: 0.33333rem;
      border-radius: 0.33333rem;
      color: #313131;
      border: 1px solid #ddd;
      background: #fff;
      outline: 0; }
    .tpyz .input_box .getcaptcha {
      display: block;
      position: absolute;
      top: 0;
      left: 102%;
      width: 2.83333rem;
      height: 1.11111rem;
      border: none;
      border-right: 1px solid #ececec; }
      .tpyz .input_box .getcaptcha img {
        width: 2.77778rem;
        height: 1.11111rem;
        margin-left: 0.33333rem; }
    .tpyz .input_box .foo_btn {
      display: block;
      border: none;
      border-right: 1px solid #ececec;
      float: left;
      width: 54%;
      margin-left: 4%;
      font-size: 0.33333rem;
      position: absolute;
      top: 0;
      left: 107%;
      background: #e8380d;
      color: #fff;
      text-align: center;
      cursor: pointer;
      margin-bottom: 0.44444rem;
      box-sizing: border-box;
      display: block;
      min-height: 1.11111rem;
      line-height: 0.55556rem;
      padding: 0.27778rem;
      border-radius: 0.55556rem; }

/*图片验证码 end*/
/*隐私协议 start*/
.tips-title {
  font-size: 0.33333rem;
  text-align: center;
  color: #999;
  margin-bottom: 0.27778rem;
  line-height: 0.5rem; }
  .tips-title a {
    color: #e8380d;
    text-decoration: underline; }

/*隐私协议 end*/
/*注册按钮 start*/
.btn_area {
  width: 10rem;
  height: 1.11111rem;
  overflow: hidden; }
  .btn_area .sbtn {
    display: block;
    float: none;
    border: none;
    height: 1.11111rem;
    border-radius: 0.55556rem;
    width: 90%;
    margin: 0 auto;
    background: #e8380d;
    color: #fff;
    font-size: 0.44444rem; }

/*注册按钮 end*/
