// 将px转换为rem单位，在任何手机端同样适用
@function rem($arg) {
    // 你的页面是多少除以多少
    @return $arg/108px * 1rem;
}

body {
    position: relative;
    width: 100%;
    height: 100%;
    background-color: #f5f5f5;
}


/*上部分 start*/

.layout {
    width: rem(972px);
    height: rem(435px);
    margin-left: rem(54px);
    margin-right: rem(54px);
    #regByPhone {
        width: rem(972px);
        height: rem(435px);
        .title {
            font-size: rem(48px);
            color: #333;
            font-weight: bold;
            margin-top: rem(30px);
            margin-bottom: rem(30px);
        }
        .line {
            height: 0;
            overflow: hidden;
            border-top: 1px solid #bbb;
            border-bottom: 1px solid #fff;
            margin-bottom: rem(60px);
        }
        .input_box {
            input {
                height: rem(120px);
                line-height: rem(60px);
                padding: rem(30px);
                width: 100%;
                vertical-align: middle;
                box-sizing: border-box;
                display: block;
                font-size: rem(42px);
                border-radius: rem(36px);
                color: #313131;
                border: 1px solid #a4a4a4;
                background: #fff;
                margin-bottom: rem(36px);
            }
        }
    }
}


/*上部分 end*/


/*图片验证码 start*/

.tpyz {
    width: rem(972px);
    height: rem(120px);
    margin-left: rem(54px);
    margin-right: rem(54px);
    margin-bottom: rem(36px);
    .input_box {
        position: relative;
        width: rem(582px);
        height: rem(120px);
        input {
            /*  width: rem(582px);
                 height: rem(120px); */
            line-height: rem(60px);
            padding: rem(30px);
            width: 100%;
            box-sizing: border-box;
            font-size: rem(42px);
            margin-bottom: rem(36px);
            border-radius: rem(36px);
            color: #313131;
            border: 1px solid #ddd;
            background: #fff;
            outline: 0;
        }
        .getcaptcha {
            display: block;
            position: absolute;
            top: 0;
            left: 102%;
            width: rem(306px);
            height: rem(120px);
            border: none;
            border-right: 1px solid #ececec;
            img {
                width: rem(300px);
                height: rem(120px);
                margin-left: rem(36px);
            }
        }
        .foo_btn {
            display: block;
            border: none;
            border-right: 1px solid #ececec;
            float: left;
            width: 54%;
            margin-left: 4%;
            font-size: rem(36px);
            position: absolute;
            top: 0;
            left: 107%;
            background: #e8380d;
            color: #fff;
            text-align: center;
            cursor: pointer;
            margin-bottom: rem(48px);
            box-sizing: border-box;
            display: block;
            min-height: rem(120px);
            line-height: rem( 60px);
            padding: rem(30px);
            border-radius: rem(60px);
        }
    }
}


/*图片验证码 end*/


/*隐私协议 start*/

.tips-title {
    font-size: rem(36px);
    text-align: center;
    color: #999;
    margin-bottom: rem(30px);
    line-height: rem(54px);
    a {
        color: #e8380d;
        text-decoration: underline;
    }
}


/*隐私协议 end*/


/*注册按钮 start*/

.btn_area {
    width: rem(1080px);
    height: rem(120px);
    overflow: hidden;
    .sbtn {
        display: block;
        float: none;
        border: none;
        height: rem(120px);
        border-radius: rem(60px);
        width: 90%;
        margin: 0 auto;
        background: #e8380d;
        color: #fff;
        font-size: rem(48px);
    }
}


/*注册按钮 end*/
